# Compiled Object files
*.slo
*.lo
*.o
//*.obj some .obj because of obj loader for meshes

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#DV1541
Project/Project/Debug
Project/Project/Debug/vc120.idb
Project/Project/Debug/vc120.pdb
Project/Debug/Project.ilk
Project/Debug/Project.pdb
Project/Project.v12.suo
Project/Project.sdf
Project/Project.opensdf
*.tlog
*.log
